.UserManager {
  padding: 1em;
}

.UserManager h5 {
  padding: 1em;
}

.UsersTableWrapper {
  max-height: 100%;
  overflow-y: auto;
}

.edit {
  color: blue;
  cursor: pointer;
}

.countTitle {
  text-align: left;
}
