.UserManager {
  width: 50% !important;;
  margin: auto;
}

.UserManager h5 {
  padding: 1em;
}

.UsersTableWrapper {
  max-height: 100%;
  overflow-y: auto;
}

.card{
  padding: 4em;
}


@media (max-width: 468px) {
  .UserManager {
    width: 100% !important;
  }
}

