.modal-content {
  direction: rtl;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.filterModal-ckeckBox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  padding: 0.2em;
  cursor: pointer;
}

.filterModal-ckeckBox .form-check {
  margin: 0 !important;
  padding: 0 !important;
}

.filterModal-ckeckBox b {
  font-weight: 500;
  margin-right: 1.7em;
}
